extends layout

block content
  .w3-top
    //- Navbar (On top)
    .w3-theme-d5.w3-bar
        b.w3-bar-item.w3-mobile iBand
        .w3-right.w3-mobile
          button.w3-bar-item.w3-button(onclick="document.getElementById('loginForm').style.display='block'" style="width:auto;") LogIn
          button.w3-bar-item.w3-button(onclick="document.getElementById('registerForm').style.display='block'" style="width:auto;") Register
  
  //- HEADER
  div(style="margin-top:38px")
    .w3-content(style="max-width:100%")
      img.mySlides.w3-animate-right(src="/images/img1.jpg", style="width:100%")
      img.mySlides.w3-animate-right(src="/images/img2.jpg", style="width:100%")
      img.mySlides.w3-animate-right(src="/images/img3.jpg", style="width:100%")
      img.mySlides.w3-animate-right(src="/images/img4.jpg", style="width:100%")
    .w3-container
      h3.w3-border-bottom About
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .w3-container
      h3.w3-border-bottom Contact
      .w3-cell-row
        .w3-container.w3-cell.w3-center
          a(href="mailto:a73547@alunos.uminho.pt") Alexandre Teixeira
          p A73547
        .w3-container.w3-cell.w3-center
          a(href="mailto:aXXXXX@alunos.uminho.pt") António Chaves
          p AXXXXX
        .w3-container.w3-cell.w3-center
          a(href="mailto:aXXXXX@alunos.uminho.pt") Miguel Guimarães
          p A66822
  //- Footer
  .w3-container.w3-theme-d5
    footer.w3-center.w3-padding-16
      p Powered by Group ?? For PRI


  //- Login TAB Form
  .w3-modal(id="loginForm")
    form.w3-modal-content.w3-card-4.w3-animate-zoom
      span.w3-display-topright.w3-button(onclick="document.getElementById('loginForm').style.display='none'") &times;
      .w3-container.w3-padding-16
        label(for="email")
          b Email
        input(type='text', placeholder="Enter Email", name="email", id="emailL", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
        label(for="psw")
          b Password
        input(type='password', placeholder="Enter Password", name='psw', id="passwordL", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
        button.w3-button.w3-theme-d5(id="LoginButton") Login
  
  //- Register TAB Form
  .w3-modal(id="registerForm")
    form.w3-modal-content.w3-card-4.w3-animate-zoom
      span.w3-display-topright.w3-button(onclick="document.getElementById('registerForm').style.display='none'") &times;
      .w3-container.w3-padding-16
        label
          b Email
        input(type='text', placeholder="Enter Email", id="emailR" ,required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
        label
          b Password
        input(type='password', placeholder="Enter Password", id="passwordR", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
        label
          b Name
        input(type='text', placeholder="First and Last Name", id="nameR" ,required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
        label
            b User Type
        .w3-container
          input.w3-radio(type='radio', name='user_type', id='producer', value="1")
          lable Producer
          br
          input.w3-radio(type='radio', name='user_type', id='consumer', value="2", checked)
          lable Client
        br
        button.w3-button.w3-theme-d5(id="RegisterButton") Register

    script(src='/javascripts/home.js')