each a in articles
    li.w3-bar
        .w3-bar-item(style="width:80%")
            b= a.author
            br
            b= a.title
            br
            p.w3-small= a.date
            br
            p= a.content