extends layout

block content
    .w3-container.w3-theme-l1
        h1.w3-theme Users List
        a(href="http://localhost:8000/admin/users/new") (new)

        ul.w3-ul.w3-card-4
            each u in users
                li.w3-bar
                    .w3.bar-item.w3-theme.w3-large.w3-right
                        a.w3-button(href='http://localhost:8000/admin/users/'+u._id) &#9881;
                        a.w3-button(href='http://localhost:8000/admin/users/remove/' + u._id) &#9760;
                    b.w3-bar-item.w3-hide-small= u.name
                    
                    case u.utype
                        when 0
                            b.w3-bar-item.w3-hide-small Admin
                        when 1
                            b.w3-bar-item.w3-hide-small Producer
                        default
                            b.w3-bar-item.w3-hide-small Client
                    .w3-bar-item
                        span.w3-large= u.email
                        if u.valid
                            span Active
                        else
                            a(href='http://localhost:8000/admin/users/activate/' + u._id) Activate
                        


    script(src='/javascripts/Admin/users.js')